@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Izzy's Website";

}

<!-- Title -->
<div>
    <h1 class="title grid-container">Izzy's Site</h1>
</div>

<!-- Insert image and text below -->
<div class="grid-container image">
    <img src="img/snowboarding.jpg" />
</div>
<div class="grid-container">
    <p>One thing I love is snowboarding! Here's a picture of me and my siblings snowboarding at Brianhead over the Christmas break.</p>
</div>

<!-- Paragraph panel -->
<div class="grid-container panel2">
    <p>
        One thing I would like to get from this class is more confidence in my ability to understand
        coding languages and be able to adapt between different languages and syntax. I've really enjoyed
        how our use of C# has also involved a lot of HTML, CSS, and Javascript. Another skill I hope to gain
        is the ability to problem solve and improve in my debugging abilities. One thing that has been helpful
        is reading the suggestions that Visual Studio gives while working in the C# language. It helps me understand
        the reasons why my original code logic was incorrect and allows me to understand the correct way to do things.
    </p>
</div>
<br />

<!-- List of jobs -->
<div class="grid-container">
    <h2>Top 3 Jobs Post-graduation</h2>
</div>
<div class="grid-container">
    <ul>
        <li>User Experience Designer</li>
        <li>Database Engineer</li>
        <li>Front-end Web Developer</li>
    </ul>
</div>

<!-- Grade calculator -->

