<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
</head>

<body>

    <nav>
        <h2>NavBar</h2>
        <ul>
            <li><a asp-controller="firstView" asp-action="Index">Home</a></li>
            <li><a asp-controller="firstView" asp-action="Form">Grade Calculator</a></li>
        </ul>        
    </nav>

    <div>
        @RenderBody()
    </div>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/jquery-3.6.3.min.js"></script>
    <script src="~/js/form.js"></script>

</body>

</html>
